body {
    --accent-color: orangered;
    --background-color: #f5f4f4;
    --text-color: black;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-color: var(--background-color);
    color: var(--text-color);
    transition: var(--transition-delay);
    overflow: hidden;
}

body.dark {
    --accent-color: #f2d974;
    --background-color: #222;
    --text-color: #f5f4f4;
}

.title {
    margin: 0;
    margin-bottom: 0.5rem;
}

.theme__toggleBtn {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 0;
    outline: 0;
    transition: var(--transition-delay);
    transform: scale(1);
}

.theme__toggleBtn:hover,
.theme__toggleBtn:focus {
    transform: scale(1.1);
}

.icon__swapper {
    margin-right: 0.5rem;
}

.container__sunAndMoonIcons {
    --rotation: 0;

    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 200vmin; /* 200% of the smallest size if the width is smaller than the height then the value will be 200% of the width and vice versa  */
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}

.icon__sun,
.icon__moon {
    position: absolute;
    transition: opacity, fill var(--transition-delay);
    width: 50px;
    height: 50px;
    fill: var(--accent-color);
}

.icon__sun {
    top: 5%;
    opacity: 1;
}

.dark .icon__sun {
    opacity: 0;
}

.icon__moon {
    bottom: 5%;
    opacity: 0;
    transform: rotate(180deg);
}

.dark .icon__moon {
    opacity: 1;
}